# Python env
.venv
venv
env
ENV
*.pyc
__pycache__

# Node
node_modules
dist  # (Vite will build inside the Node stage anyway)
.npmrc

# Git
.git
.gitignore

# OS/IDE
.DS_Store
.vscode
.idea

# Local env files
.env
.env.*
coco
.venv
venv
env
